Source: ptux-sdk-beaglexm
Section: devel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-beaglexm
Architecture: all
Description: Pragmatux SDK for Beagleboard XM
 Meta-package referencing SDK tools for the
 Beagleboard XM target (http://beagleboard.org).
Depends:
 ptux-sdk-armhf
