Source: ptux-sdk-beagleboard
Section: devel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-beagleboard
Architecture: all
Description: Pragmatux SDK for Beagleboard Rev C/D
 Meta-package referencing SDK tools for the
 Beagleboard Rev C/D target (http://beagleboard.org).
Depends:
 ptux-sdk-armhf,
 mkos-beagleboard,
